<div class="home">
    <div class="home_container">
        <div class="home_background" style="background-image:url(/images/categories.jpg)"></div>
        <div class="home_content_container">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="home_content">
                            <div class="home_title">Product registration<span>.</span></div>
                            <div class="home_text">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam a ultricies metus.
                                    Sed nec molestie eros. Sed viverra velit venenatis fermentum luctus.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Product Details -->

<div class="product_details">
    <form action="/product/registration" method="post" enctype="multipart/form-data">
        <div class="container" style="margin: 3% auto 5% auto">
            <h2>&nbsp;&nbsp;상품 등록하기</h2>
            <table class="table table-hover">
                <tbody>
                    <tr>
                        <td colspan="4"><input type="text" class="form-control" placeholder="제목" name="title" maxlength="40" required>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="4"><input type="text" class="form-control" placeholder="상품명" name="product_name" maxlength="40" required></td>
                    </tr>
                    <tr>
                        <td colspan="4"><input type="number" class="form-control" placeholder="가격 (원)" name="price" maxlength="40" required></td>
                    </tr>
                    <tr>
                        <td colspan="4"><textarea type="text" class="form-control" placeholder="내용을 작성하세요" name="content" maxlength="1024" style="height: 400px;" required></textarea></td>
                    </tr>
                    <tr>
                        <td>
                            <!-- 커버이미지 들어오는 부분 (임시로 이미지를 넣어줬다)-->            
                            <div class="selectCover">            
                                <img class="upload_img" id="cover1" src="/product_img/default_img.jpg">
                            </div> 
                            <!-- 파일등록 -->
                            <input id="fileName1" class="form-control" value="파일선택" disabled="disabled" style="width:100%; display: inline-block;">
                            <div class="fileRegiBtn">
                                <label for="myFileUp1" style="width:100%">사진 등록</label>
                                <input type="file" id="myFileUp1" name="img1" onclick="fileUploadAction1();">
                            </div>
                        </td>
                        <td>
                            <!-- 커버이미지 들어오는 부분 (임시로 이미지를 넣어줬다)-->            
                            <div class="selectCover">            
                                <img class="upload_img" id="cover2" src="/product_img/default_img.jpg">
                            </div> 
                            <!-- 파일등록 -->
                            <input id="fileName2" class="form-control" value="파일선택" disabled="disabled" style="width:100%; display: inline-block;">
                            <div class="fileRegiBtn">
                                <label for="myFileUp2" style="width:100%">사진 등록</label>
                                <input type="file" id="myFileUp2" name="img2" onclick="fileUploadAction2();">
                            </div>
                        </td>
                        <td>
                            <!-- 커버이미지 들어오는 부분 (임시로 이미지를 넣어줬다)-->            
                            <div class="selectCover">            
                                <img class="upload_img" id="cover3" src="/product_img/default_img.jpg">
                            </div> 
                            <!-- 파일등록 -->
                            <input id="fileName3" class="form-control" value="파일선택" disabled="disabled" style="width:100%; display: inline-block;">
                            <div class="fileRegiBtn">
                                <label for="myFileUp3" style="width:100%">사진 등록</label>
                                <input type="file" id="myFileUp3" name="img3" onclick="fileUploadAction3();">
                            </div>
                        </td>
                        <td>
                            <!-- 커버이미지 들어오는 부분 (임시로 이미지를 넣어줬다)-->            
                            <div class="selectCover">            
                                <img class="upload_img" id="cover4" src="/product_img/default_img.jpg">
                            </div> 
                            <!-- 파일등록 -->
                            <input id="fileName4" class="form-control" value="파일선택" disabled="disabled" style="width:100%; display: inline-block;">
                            <div class="fileRegiBtn">
                                <label for="myFileUp4" style="width:100%">사진 등록</label>
                                <input type="file" id="myFileUp4" name="img4" onclick="fileUploadAction4();">
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <input type="button" class="btn btn-primary pull-right" style="margin-left: 10px" value="취소" onclick="location.href='/categories'">
            <input type="submit" class="btn btn-primary pull-right" value="등록">
            <script>
                $(document).ready(function() {
                    $("#myFileUp1").on("change", imgUpdate1);
                });
                $(document).ready(function() {
                    $("#myFileUp2").on("change", imgUpdate2);
                });
                $(document).ready(function() {
                    $("#myFileUp3").on("change", imgUpdate3);
                });
                $(document).ready(function() {
                    $("#myFileUp4").on("change", imgUpdate4);
                });
                function fileUploadAction1() {
                    $("#myFileUP1").trigger("click");
                }
                function fileUploadAction2() {
                    $("#myFileUP2").trigger("click");
                }
                function fileUploadAction3() {
                    $("#myFileUP3").trigger("click");
                }
                function fileUploadAction4() {
                    $("#myFileUP4").trigger("click");
                }
                function imgUpdate1(input) {
                    if (input.files && input.files[0]) {
                        var reader = new FileReader();
                        reader.onload = function (e) {
                            $('#cover1').attr('src', e.target.result); //cover src로 붙여지고
                            $('#fileName1').val(input.files[0].name);  //파일선택 form으로 파일명이 들어온
                        }
                        reader.readAsDataURL(input.files[0]);
                    }
                }
                $("#myFileUp1").change(function () {
                    imgUpdate1(this);
                });
                function imgUpdate2(input) {
                    if (input.files && input.files[0]) {
                        var reader = new FileReader();
                        reader.onload = function (e) {
                            $('#cover2').attr('src', e.target.result); //cover src로 붙여지고
                            $('#fileName2').val(input.files[0].name);  //파일선택 form으로 파일명이 들어온
                        }
                        reader.readAsDataURL(input.files[0]);
                    }
                }
                $("#myFileUp2").change(function () {
                    imgUpdate2(this);
                });
                function imgUpdate3(input) {
                    if (input.files && input.files[0]) {
                        var reader = new FileReader();
                        reader.onload = function (e) {
                            $('#cover3').attr('src', e.target.result); //cover src로 붙여지고
                            $('#fileName3').val(input.files[0].name);  //파일선택 form으로 파일명이 들어온
                        }
                        reader.readAsDataURL(input.files[0]);
                    }
                }
                $("#myFileUp3").change(function () {
                    imgUpdate3(this);
                });
                function imgUpdate4(input) {
                    if (input.files && input.files[0]) {
                        var reader = new FileReader();
                        reader.onload = function (e) {
                            $('#cover4').attr('src', e.target.result); //cover src로 붙여지고
                            $('#fileName4').val(input.files[0].name);  //파일선택 form으로 파일명이 들어온
                        }
                        reader.readAsDataURL(input.files[0]);
                    }
                }
                $("#myFileUp4").change(function () {
                    imgUpdate4(this);
                });
            </script>
        </div>
    </form>
</div>