<div class="home">
	<div class="home_container">
		<div class="home_background" style="background-image:url(/images/cart.jpg)"></div>
		<div class="home_content_container">
			<div class="container">
				<div class="row">
					<div class="col">
						<div class="home_content">
							<div class="breadcrumbs">
								<ul>
									<li><a href="index.html">Home</a></li>
									<li><a href="categories.html">Categories</a></li>
									<li>내가 구매 신청한 상품</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="cart_info">
	<div class="container">
		<div class="row">
			<div class="col">
				<!-- Column Titles -->
				<div class="cart_info_columns clearfix">
					<div class="cart_info_col cart_info_col_product">Product</div>
					<div class="cart_info_col cart_info_col_price">상태</div>
					<div class="cart_info_col cart_info_col_quantity">판매자</div>
					<div class="cart_info_col cart_info_col_total">비고</div>
				</div>
			</div>
		</div>
		<div class="row cart_items_row">
			<div class="col">

				<!-- Cart Item -->
				<% for (var index in my_request){%>
					<div
						class="cart_item d-flex flex-lg-row flex-column align-items-lg-center align-items-start justify-content-start">
						<!-- Name -->
						<div class="cart_item_product d-flex flex-row align-items-center justify-content-start">
							<div class="cart_item_image">
								<div><img src=<%- my_request[index].img_path %> alt=""></div>
							</div>
							<div class="cart_item_name_container">
								<div class="cart_item_name"><a href="#"><%- my_request[index].Product_name %></a></div>
								<div class="cart_item_edit"><a href="#">Edit Product</a></div>
							</div>
						</div>
						<!-- 상태 -->
						<% if(my_request[index].status==1) {%>
							<div class="cart_item_price"> 구매 진행중</div>
							<!-- 구매자 -->
							<div class="cart_item_buyer"><%- my_request[index].Member_id%></div>
							<!-- Total -->
							<div class="cart_item_total">
								<button class="write_button" onclick="location.href='/user_requests/cancel?item=<%- my_request[index].Product_id %>'">취소</button>
							</div>
							
						<% } else{ %>
							<div class="cart_item_price">취소</div>
							<!-- 구매자 -->
							<div class="cart_item_buyer">-</div>
							<!-- Total -->
							<div class="cart_item_total">-</div>
						<%} %>
					</div>
				<% } %>

			</div>
		</div>
	</div>
</div>